<hr>
第一步 配置查询语句与参数
<br>
/lua.d/0-config-db-query.json
/form/route-form.html
<br>
{
"name": "表单查询路由列表",
"desc": "query 传入查询语句的id,结果返回到key;参数全部收集到param;",
"list": {
"q1": {"url" : "http://133.224.220.66/formapi/rest/pro", "param":{"procode":"PK","code":"BK"}},
"q2": {"url" : "http://133.224.220.66/formapi/rest/pro", "param":{} },
"q3": {"url" : "http://133.224.220.66/formapi/rest/pro", {"procode":"PK"} }
}
}
<br>

实际执行的时候执行的查询
<br>
http://133.224.220.66/formapi/rest/pro?procode=PK&code=BK

<hr>
第二步查询测试
<br>
执行q1,q2,q3查询语句
<br>
http://133.224.220.66/formroutequery?html=route-form&query=q1&query=q2&query=q3&PK=abc&BK=123&%E4%B8%9A%E5%8A%A1%E5%8F%82%E6%95%B0

<hr>
第三步查看查询结果

<hr/> formvalue.querylistText <br>
{{formvalue.querylistText}}
<hr/> formvalue.paramsText <br>
{{formvalue.paramsText}}
<hr/>
查询地址 formvalue.querylist.q1.url <br>
{{formvalue.querylist.q1.url}}
参数值 formvalue.querylist.q1.param.code <br>
{{formvalue.querylist.q1.param.code}}

<hr/>
formvalue.params.html
<br>
{{formvalue.params.html}}
<hr/>
创建时间
formvalue.q1._embedded.pro[1].createDate
<br>
{{formvalue.q1._embedded.pro[1].createDate}}
<br/>
主键
formvalue.q1._embedded.pro[1].pkId
<br>
{{formvalue.q1._embedded.pro[1].pkId}}
<hr>
常用语法
{-raw-}如果abc变量为空,则显示 cde {{ (Abc or 'Cde'):lower() }}{-raw-}<br>
{{ (Abc or 'Cde'):lower() }}
<hr> 错误日志文件

{(/usr/local/nginx/logs/error-route-form.log)}

