{% layout = "/layouts/weblayout.html" %}

{-sidebar-}
{(web/web-index-menu.html)}
{-sidebar-}


{-content-}

<!-- Section: intro -->
{(web/web-index-intro.html)}
<!-- /Section: intro -->

<!-- Section: about -->
{(web/web-index-about.html)}
<!-- /Section: about -->


<!-- Section: services -->
{(web/web-index-service.html)}
<!-- /Section: services -->


<!-- Section: works -->
{(web/web-index-work.html)}
<!-- /Section: works -->

<!-- Section: contact -->
{(web/web-index-contact.html)}
<!-- /Section: contact -->

{-content-}



{-page_css-}

{-page_css-}

{-page_js-}
<script src="js/custom.js"></script>
{-page_js-}