
    <ul id="gn-menu" class="gn-menu-main">

        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>菜单</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">

                        <li class="gn-search-item">
                            <input placeholder="搜索" type="search" class="gn-search">
                            <a class="gn-icon gn-icon-search"><span>搜索</span></a>
                        </li>

                        <li>
                            <a href="#about" class="gn-icon gn-icon-download">关于</a>
                        </li>

                        <li><a href="#service" class="gn-icon gn-icon-cog">服务</a></li>

                        <li><a href="#works" class="gn-icon gn-icon-help">产品</a></li>

                        <li>
                            <a href="#contact" class="gn-icon gn-icon-archive">联系人</a>
                        </li>

                    </ul>
                </div><!-- /gn-scroller -->
            </nav>
        </li>

        <li><a href="http://192.168.99.101/formroutequery?pkId=1&pkId=2&pkId=3&html=web-index&query=q0">今日之星</a></li>

        <li>
            <ul class="company-social">
                <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </li>

    </ul>

