
	<!-- Section: about -->
    <section id="about" class="home-section text-center bg-gray">
		<div class="heading-about marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
		
					<div class="section-heading">
					<h2>关于我们</h2>
					<p>我们不求数量只求质量。努力服务与科技领域的创新和创业者，通过建立互联网自媒体平台，为中国的科技创新提供最有价值的信息，最具有创造力的思路与模式服务来帮助各类创业者以及正在创业的人。</p>
					</div>
			
				</div>
			</div>
			</div>
		</div>
		<div class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
						<h5>安娜-卡列琳娜</h5>
                        <p class="subtitle">Pixel Crafter</p>
                        <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>
		
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
						<h5>莫拉·丹尼尔斯</h5>
                        <p class="subtitle">Ruby on Rails</p>
                        <div class="avatar"><img src="img/team/2.jpg" alt="" class="img-responsive" /></div>
                    </div>

				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
		
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>杰克.般若寺</h5>
                        <p class="subtitle">jQuery Ninja</p>
                        <div class="avatar"><img src="img/team/3.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>
		
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
		
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>汤姆·彼得森</h5>
                        <p class="subtitle">Typographer</p>
                        <div class="avatar"><img src="img/team/4.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>
	
            </div>
        </div>		
		</div>
	</section>
	<!-- /Section: about -->
