
	<!-- Section: contact -->
    <section id="contact" class="home-section text-center">
		<div class="heading-contact marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
	
					<div class="section-heading">
					<h2>保持联系</h2>
					<p>Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has</p>
					</div>
				
				</div>
			</div>
			</div>
		</div>
		<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="boxed-grey">
                <form id="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                姓名</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email地址</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                主题</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">普通客户服务</option>
                                <option value="suggestions">建议</option>
                                <option value="product">产品支持</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                消息</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                            发送消息</button>
                    </div>
                </div>
                </form>
            </div>
			
			<div class="widget-contact row">
				 <div class="col-lg-6">
				<address>
				  <strong>明日之星 Ltd.</strong><br>
				  Big Villa 334 Awesome, Beautiful Suite 1200<br>
				  San Francisco, CA 94107<br>
				  <abbr title="Phone">P:</abbr> (123) 456-7890
				</address>
				</div>
				
				<div class="col-lg-6">
				<address>
				  <strong>Email</strong><br>
				  <a href="mailto:#">email.name@example.com</a><br />
				   <a href="mailto:#">name.name@example.com</a>
				</address>	
			
				</div>
			</div>	
        </div>

    </div>	

		</div>
	</section>
	<!-- /Section: contact -->
