[client]
password        = 
port            = 3306
socket          = /tmp/mysql.sock
max_allowed_packet = 48M

# Here follows entries for some specific programs

# The MySQL server

[mysqld]
datadir=/data/mysql
#tmpdir=/dev/shm/mysql
event_scheduler=ON
default-storage-engine=INNODB
#default-character-set=utf8
character-set-server = utf8
port            = 3306
max_allowed_packet = 16M
wait_timeout	= 500
interactive_timeout	= 500
connect_timeout = 20
socket          = /tmp/mysql.sock

back_log = 512
max_connections = 2048
max_connect_errors = 128
open_files_limit = 8192

key_buffer_size = 1024M

sort_buffer_size = 32M
read_buffer_size = 32M
join_buffer_size = 32M
read_rnd_buffer_size = 8M
bulk_insert_buffer_size = 32M

myisam_max_sort_file_size = 100G
myisam_sort_buffer_size=64M

thread_cache_size = 64
#thread_concurrency = 16
thread_stack = 512k

query_cache_limit = 4M
query_cache_size = 128M
query_cache_min_res_unit= 2k

table_cache = 2048
tmp_table_size = 256M
max_heap_table_size = 256M
max_tmp_tables = 512 
bulk_insert_buffer_size = 16M
skip-name-resolve
slow_query_log
long_query_time = 0.1

innodb_data_home_dir = /data/mysql
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /data/mysql
innodb_file_per_table = 1
innodb_open_files = 2048

#memlock
innodb_buffer_pool_instances=4
innodb_buffer_pool_size = 8G
innodb_additional_mem_pool_size=64M
innodb_log_file_size = 64M
innodb_lock_wait_timeout = 50
innodb_flush_log_at_trx_commit = 0
### small swap / IO
innodb_flush_method = O_DIRECT
innodb_write_io_threads = 8
innodb_read_io_threads = 8
innodb_thread_concurrency = 16
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90


[mysqldump]
quick
max_allowed_packet = 48M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates
default-character-set=utf8

[isamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M


