# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

#主从同步配置参数
server_id=100
# 设置需要同步的数据库
binlog-do-db=db_ginskeleton
binlog-do-db=mysql
# 设置忽略的数据库，连续指定可以忽略多个数据库
# binlog-ignore-db=mysql
binlog-ignore-db=test
# 二进制日志文件前缀
log-bin=binlog_filename
#主库(master)设置binlog的保留时间为7天
expire_logs_days=7

# Custom config should go here
!includedir /etc/mysql/conf.d/
