APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=Asia/Shanghai

# DINGO API
API_VERSION=v1
API_NAME=lumen-api-demo
# 后缀，和域名应该只有一个
# 打开后访问xxx.com/api/foos
API_PREFIX=api
#API_DOMAIN=www.lumen.com
API_STANDARDS_TREE=vnd
API_SUBTYPE=lumen
API_DEBUG=true

# JWT
JWT_SECRET=
# token 过期时间为 默认1小时，根据自己需要配置
# JWT_TTL=
# JWT_REFRESH_TTL=

# mysql
DB_HOST=127.0.0.1
DB_DATABASE=lumen
DB_PORT=3307 # 本地环境（容器外）会使用这个端口；容器中，会使用docker-compose.yml中services的php的端口
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
#CACHE_DRIVER=redis
QUEUE_DRIVER=database

MAIL_DRIVER=
MAILGUN_DOMAIL=
MAILGUN_SECRET=
