<li class="xn-title">导航</li>
<li class="active">
    <a href="index.html"><span class="fa fa-desktop"></span> <span class="xn-text">仪表板</span></a>
</li>
<li class="xn-openable">
    <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">页面</span></a>
    <ul>
        <li><a href="pages-gallery.html"><span class="fa fa-image"></span> 画廊</a></li>
        <li><a href="pages-profile.html"><span class="fa fa-user"></span> 个人资料</a></li>
        <li><a href="pages-address-book.html"><span class="fa fa-users"></span> 地址簿</a></li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-clock-o"></span> 时间线</a>
            <ul>
                <li><a href="pages-timeline.html"><span class="fa fa-align-center"></span> 默认</a></li>
                <li><a href="pages-timeline-simple.html"><span class="fa fa-align-justify"></span> 全宽</a></li>
            </ul>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-envelope"></span> 邮箱</a>
            <ul>
                <li><a href="pages-mailbox-inbox.html"><span class="fa fa-inbox"></span> 收件箱</a></li>
                <li><a href="pages-mailbox-message.html"><span class="fa fa-file-text"></span> 消息</a></li>
                <li><a href="pages-mailbox-compose.html"><span class="fa fa-pencil"></span> 撰写</a></li>
            </ul>
        </li>
        <li><a href="pages-messages.html"><span class="fa fa-comments"></span> 消息</a></li>
        <li><a href="pages-calendar.html"><span class="fa fa-calendar"></span> 日历</a></li>
        <li><a href="pages-tasks.html"><span class="fa fa-edit"></span> 任务</a></li>
        <li><a href="pages-content-table.html"><span class="fa fa-columns"></span> 内容表</a></li>
        <li><a href="pages-faq.html"><span class="fa fa-question-circle"></span> FAQ</a></li>
        <li><a href="pages-search.html"><span class="fa fa-search"></span> 搜索</a></li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-file"></span> 博客</a>

            <ul>
                <li><a href="pages-blog-list.html"><span class="fa fa-copy"></span> 帖子列表</a></li>
                <li><a href="pages-blog-post.html"><span class="fa fa-file-o"></span>单个帖子</a></li>
            </ul>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-sign-in"></span> 登陆</a>
            <ul>
                <li><a href="pages-login.html">App 登陆</a></li>
                <li><a href="pages-login-website.html">Website 登陆</a></li>
                <li><a href="pages-login-website-light.html"> Website Login Light</a></li>
            </ul>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-warning"></span> 错误页面</a>
            <ul>
                <li><a href="pages-error-404.html">Error 404 示例 1</a></li>
                <li><a href="pages-error-404-2.html">Error 404 示例 2</a></li>
                <li><a href="pages-error-500.html"> Error 500</a></li>
            </ul>
        </li>
    </ul>
</li>
<li class="xn-openable">
    <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">布局</span></a>
    <ul>
        <li><a href="layout-boxed.html">Boxed</a></li>
        <li><a href="layout-nav-toggled.html">Navigation Toggled</a></li>
        <li><a href="layout-nav-top.html">Navigation Top</a></li>
        <li><a href="layout-nav-right.html">Navigation Right</a></li>
        <li><a href="layout-nav-top-fixed.html">Top Navigation Fixed</a></li>
        <li><a href="layout-nav-custom.html">Custom Navigation</a></li>
        <li><a href="layout-frame-left.html">Frame Left Column</a></li>
        <li><a href="layout-frame-right.html">Frame Right Column</a></li>
        <li><a href="layout-search-left.html">Search Left Side</a></li>
        <li><a href="blank.html">Blank Page</a></li>
    </ul>
</li>


