        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->
            <!-- SEARCH -->
            {(layouts/mylayout-content-nav-panel-search.html)}
            <!-- END SEARCH -->
            <!-- SIGN OUT -->
            {(layouts/mylayout-content-nav-panel-signout.html)}
            <!-- END SIGN OUT -->
            <!-- MESSAGES -->
            {(layouts/mylayout-content-nav-panel-messages.html)}
            <!-- END MESSAGES -->
            <!-- TASKS -->
            {(layouts/mylayout-content-nav-panel-tasks.html)}
            <!-- END TASKS -->
        </ul>
        <!-- END X-NAVIGATION VERTICAL -->






