<li class="xn-title">组件</li>
<li class="xn-openable">
    <a href="#"><span class="fa fa-cogs"></span> <span class="xn-text">UI套件</span></a>
    <ul>
        <li><a href="ui-widgets.html"><span class="fa fa-heart"></span> Widgets</a></li>
        <li><a href="ui-elements.html"><span class="fa fa-cogs"></span> Elements</a></li>
        <li><a href="ui-buttons.html"><span class="fa fa-square-o"></span> Buttons</a></li>
        <li><a href="ui-panels.html"><span class="fa fa-pencil-square-o"></span> Panels</a></li>
        <li><a href="ui-icons.html"><span class="fa fa-magic"></span> Icons</a><div class="informer informer-warning">+679</div></li>
        <li><a href="ui-typography.html"><span class="fa fa-pencil"></span> Typography</a></li>
        <li><a href="ui-portlet.html"><span class="fa fa-th"></span> Portlet</a></li>
        <li><a href="ui-sliders.html"><span class="fa fa-arrows-h"></span> Sliders</a></li>
        <li><a href="ui-alerts-popups.html"><span class="fa fa-warning"></span> Alerts & Popups</a></li>
        <li><a href="ui-lists.html"><span class="fa fa-list-ul"></span> Lists</a></li>
        <li><a href="ui-tour.html"><span class="fa fa-random"></span> Tour</a></li>
    </ul>
</li>
<li class="xn-openable">
    <a href="#"><span class="fa fa-pencil"></span> <span class="xn-text">表单</span></a>
    <ul>
        <li>
            <a href="form-layouts-two-column.html"><span class="fa fa-tasks"></span> Form Layouts</a>
            <div class="informer informer-danger">New</div>
            <ul>
                <li><a href="form-layouts-one-column.html"><span class="fa fa-align-justify"></span> One Column</a></li>
                <li><a href="form-layouts-two-column.html"><span class="fa fa-th-large"></span> Two Column</a></li>
                <li><a href="form-layouts-tabbed.html"><span class="fa fa-table"></span> Tabbed</a></li>
                <li><a href="form-layouts-separated.html"><span class="fa fa-th-list"></span> Separated Rows</a></li>
            </ul>
        </li>
        <li><a href="form-elements.html"><span class="fa fa-file-text-o"></span> Elements</a></li>
        <li><a href="form-validation.html"><span class="fa fa-list-alt"></span> Validation</a></li>
        <li><a href="form-wizards.html"><span class="fa fa-arrow-right"></span> Wizards</a></li>
        <li><a href="form-editors.html"><span class="fa fa-text-width"></span> WYSIWYG Editors</a></li>
        <li><a href="form-file-handling.html"><span class="fa fa-floppy-o"></span> File Handling</a></li>
    </ul>
</li>
<li class="xn-openable">
    <a href="tables.html"><span class="fa fa-table"></span> <span class="xn-text">表格</span></a>
    <ul>
        <li><a href="table-basic.html"><span class="fa fa-align-justify"></span> Basic</a></li>
        <li><a href="table-datatables.html"><span class="fa fa-sort-alpha-desc"></span> Data Tables</a></li>
        <li><a href="table-export.html"><span class="fa fa-download"></span> Export Tables</a></li>
    </ul>
</li>
<li class="xn-openable">
    <a href="#"><span class="fa fa-bar-chart-o"></span> <span class="xn-text">图表</span></a>
    <ul>
        <li><a href="charts-morris.html"><span class="xn-text">Morris</span></a></li>
        <li><a href="charts-nvd3.html"><span class="xn-text">NVD3</span></a></li>
        <li><a href="charts-rickshaw.html"><span class="xn-text">Rickshaw</span></a></li>
        <li><a href="charts-other.html"><span class="xn-text">Other</span></a></li>
    </ul>
</li>
<li>
    <a href="maps.html"><span class="fa fa-map-marker"></span> <span class="xn-text">地图</span></a>
</li>
<li class="xn-openable">
    <a href="#"><span class="fa fa-sitemap"></span> <span class="xn-text">导航级别</span></a>
    <ul>
        <li class="xn-openable">
            <a href="#">二级</a>
            <ul>
                <li class="xn-openable">
                    <a href="#">三级</a>
                    <ul>
                        <li class="xn-openable">
                            <a href="#">四级</a>
                            <ul>
                                <li><a href="#">五级</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>


